.services-section {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--almost-white);
}

.services {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-wrap: row;
  gap: 20px;
  padding: 20px 0;
}

.service-item {
  height: 430px;
  width: calc(100% - 40px);
  background-color: lightgray;
  position: relative;
}

.service-front {
  position: absolute;
  bottom: 0;
  justify-content: space-between;
  height: calc(100% - 40px);
  border: solid var(--primary-color) 0.5px;
  text-align: left;
  transition-duration: 300ms;
  padding: 20px;
  background-color: var(--almost-white);
  width: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.service-front .subcategories {
  position: relative;
  bottom: 0px;
}

.service-item:hover .service-front {
  color: var(--primary-color);
  transition-duration: 500ms;
  height: 200px;
}

.service-front h3 {
  transition: padding 300ms ease-in-out;
}

.service-front:hover h3 {
  padding: 10px 0;
}

@media (max-width: 1024px) {
  /* Tablet */
}
@media (max-width: 768px) {
  /* Mobile */

  .services {
    flex-direction: column;
  }
  .service-item {
    height: 200px;
    width: 100%;
  }

  .service-item:hover .service-front {
    height: calc(100% - 40px);
    width: 150px;
  }

  .service-item:hover .service-front h3 {
    padding: 0;
  }
}
