.collapsible-list {
  border-top: 1px solid #ccc;
}

.collapsible-item {
  border-bottom: 1px solid #ccc;
}

.collapsible-button {
  font-family: "Space Grotesk", sans-serif;
  letter-spacing: -0.07rem;
  font-size: 1rem;
  width: 100%;
  background: none;
  border: none;
  text-align: left;
  padding: 20px 25px 20px 0;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: ease-out 300ms;
}

.collapsible-title {
  font-size: 1.618rem;
  font-weight: 400;
  font-family: inherit;
  letter-spacing: inherit;
  color: var(--primary-color);
  margin-right: 10px;
}

.collapsible-button:hover {
  background-color: var(--primary-color);
  transition: ease-out 300ms;
  padding-left: 25px;
}

.collapsible-button:hover .collapsible-title {
  color: var(--almost-white);
}

.collapsible-button:hover .collapsible-icon svg {
  color: var(--almost-white);
}

.collapsible-icon svg {
  transition: ease-out 400ms;
}
.collapsible-icon.open svg {
  transform-origin: center;
  transform: rotate(45deg);
  transition: ease-out 400ms;
}

.collapsible-content {
  background-color: #f1f1f1;
  max-height: 0px;
  overflow: hidden;
  transition: ease-out 500ms;
  padding-right: 30px;
  text-align: justify;
}

.collapsible-content.open {
  transition: ease-out 500ms;
}

@media (max-width: 768px) {
  /* Mobile */
  .collapsible-title {
    font-size: 1.3rem;
    padding-right: 10px;
  }

  .collapsible-icon svg {
    width: 18px;
  }
}
