.hero-section {
  height: 100vh;
  width: calc(100% - 40px); /* body width - left and right margin */
  padding: 20px 20px 0 20px;
  position: sticky;
  top: 0;
  z-index: -2;
  background-color: var(--almost-white);
  margin-bottom: -100px;
}

.hero-section.half-height {
  height: 70vh;
}

.hero-img {
  /*background: url(../../assets/imgs/hero.jpg);*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: calc(
    100% - 20px - 80px
  ); /* hero height - top padding - navbar height */
}

@media (max-width: 1024px) {
  /* Tablet */
}
@media (max-width: 768px) {
  /* Mobile */
  .hero-section {
    height: 90vh;
  }
}
