.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  z-index: 9999;
}

.loading-spinner {
  width: 30px;
  height: 30px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top-color: #333;
  animation: spin 1s ease-in-out infinite;
  margin-bottom: 20px;
}

.loading-screen p {
  font-size: 18px;
  color: #333;
  font-family: sans-serif;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
