@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-2580px, 0, 0);
  }
}

@keyframes arrow {
  0% {
    transform: translateY(-100%);
    opacity: 1;
  }
  20% {
    transform: translateY(0%);
    opacity: 1;
  }
  95% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(0%);
    opacity: 0;
  }
}

.about-hero {
  width: 100%;
  height: 100vh;
  background-color: black;
  overflow: hidden;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: var(--almost-white);
}

.sliding-background {
  background: url("../assets/photos/about-hero.jpg") repeat-x;
  opacity: 0.5;
  height: 100%;
  width: 7740px;
  animation: slide 60s linear infinite;
  position: absolute;
  z-index: -3;
}

.about-hero .container {
  margin-bottom: 100px;
  width: 1200px;

  bottom: 0;
  text-align: center;
}

.about-hero p {
  cursor: pointer;
  text-align: center;
}

.arrow-container {
  width: fit-content;
  margin: 0 auto 30px auto;
  position: relative;
  overflow: hidden;
}

.scroll-arrow {
  position: relative;
  animation: arrow 3.5s ease infinite;
  pointer-events: none;
}

.bio {
  font-weight: normal;
  width: 1000px;
}

.about-right {
  width: 550px;
  margin-left: auto;
}
.team {
  display: flex;
  justify-content: space-between;
  margin: var(--spacing-md) 0;
}
.team img {
  width: 170px;
  margin-bottom: 10px;
  background-color: var(--light-gray);
  height: 170px;
}

.team p {
  margin: -10px 0 0 0;
  text-align: right;
}
