.cta-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 650px;
  flex-direction: column;
  text-align: center;
  padding: 180px 0;
  gap: var(--spacing-md);
  margin: auto;
}

span.CTA {
  font-weight: 400;
  font-size: 4.236rem;
  line-height: 4.2rem;
  letter-spacing: var(--letter-spacing-large);
}

@media (max-width: 1024px) {
  /* Tablet */
  .cta-container {
    width: 65%;
  }
}
@media (max-width: 768px) {
  /* Mobile */
  .cta-container {
    width: 100%;
    padding: 50px 0;
  }

  span.CTA {
    font-size: 2.6rem;
    line-height: 2.1rem;
    letter-spacing: var(--letter-spacing-med);
  }
}
