.feature-section {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
  background-color: var(--almost-white);
}

.headline {
  height: 330px;
  display: flex;
  align-items: center;
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 430px;
  width: 100%;
  border: solid var(--primary-color) 0.5px;
  text-align: left;
  padding: 20px;
  transition-duration: 300ms;
}

.service .subcategories {
  position: relative;
  bottom: 0px;
}

.service:hover {
  background-color: var(--primary-color);
  color: var(--almost-white);
  transition-duration: 300ms;
}

.service h3 {
  transition-duration: 300ms;
}

.service:hover h3 {
  padding: 10px 0;
  transition-duration: 300ms;
}
