.navbar {
  height: 80px;
  background-color: var(--almost-white);
  position: sticky;
  width: 100%;
  transition-duration: 500ms;
  z-index: 99;
}

.navbar-wrapper {
  display: flex;
  align-items: center;
  gap: 35px;
  justify-content: space-between;
  height: 100%;
  margin: 0 20px;
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  transition-duration: 500ms;
  width: 100vw;
}

.filler {
  height: 80px;
}

.nav a:hover {
  border-bottom: solid var(--primary-color) 2px;
  transition-duration: 200ms;
}

.navbar .active {
  font-weight: 700;
}
