:root {
  /* Colors */
  --primary-color: #092b33;
  --almost-white: #f1f1f1;
  --light-gray: #dadcdd;

  /* Typography */
  --font-family-base: "Space Grotesk", sans-serif;
  --letter-spacing-base: -0.05rem;
  --letter-spacing-med: -0.17rem;
  --letter-spacing-large: -0.35rem;

  /* Spacing */
  --spacing-xs: 5px;
  --spacing-sm: 20px;
  --spacing-md: 40px;
  --spacing-lg: 100px;
  --spacing-xl: 200px;

  /* Container */
  --container-max-width: 1200px;

  /* Transitions */
  --transition-fast: 300ms;
  --transition-normal: 500ms;
}

/* Font Faces */

@font-face {
  font-family: Space Grotesk;
  src: url("./assets/fonts/SpaceGrotesk-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Space Grotesk;
  src: url("./assets/fonts/SpaceGrotesk-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Base Styles */
html,
body {
  margin: 0;
  font-family: var(--font-family-base);
  font-weight: normal;
  color: var(--primary-color);
  max-width: 100vw;
  letter-spacing: var(--letter-spacing-base);
  font-size: 16px;
}

::selection {
  background: black;
  color: var(--almost-white);
}

/* Typography */
h1,
h2 {
  margin: 0;
  letter-spacing: var(--letter-spacing-large);
}

h1 {
  font-size: 6.854rem;
  line-height: 5.4rem;
  width: 100%;
}

h2 {
  font-size: 4.236rem;
  line-height: 4.2rem;
  margin-top: -0.5rem;
}

h3 {
  font-size: 2.618rem;
  line-height: 2.9rem;
  letter-spacing: var(--letter-spacing-med);
  margin: 0;
}

h4 {
  font-size: 2.618rem;
  letter-spacing: var(--letter-spacing-med);
  line-height: 2.9rem;
  font-weight: normal;
  margin: 0;
}

h5 {
  font-size: 1.618rem;
  line-height: 1.34rem;
  font-weight: bold;
  margin: 0;
}

p {
  font-size: 1rem;
  line-height: 1.75;
}

subtitle {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.025rem;
  margin-bottom: 30px;
  opacity: 0.6;
}

/* Links */
a {
  color: inherit;
  text-decoration: none;
}

.image-link {
  height: 100%;
}

.image-link:hover {
  border-bottom: none;
}

/* Lists */
ul {
  list-style: none;
  padding: 0;
}

/* Sections */
.main-section {
  background-color: var(--almost-white);
  padding: var(--spacing-md) 0;

  background-color: var(--almost-white);
}

/* Layout */
.container {
  max-width: var(--container-max-width);
  margin: 0 auto;
  display: flex;
  padding-top: 30px;
  gap: var(--spacing-md);
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.left {
  width: 40%;
}

.right {
  width: 60%;
}

/* Media Queries */
@media (max-width: 1024px) {
  /* Tablet */
}
@media (max-width: 768px) {
  /* Mobile */

  :root {
    --spacing-sm: 10px;
    --spacing-md: 20px;
    --spacing-lg: 40px;
    --spacing-xl: 80px;
  }
  h1 {
    font-size: 4rem;
    line-height: 3.3rem;
  }

  .cta-container h2 {
    font-size: 3.8rem;
    line-height: 3.3rem;
  }

  .container {
    padding: 0 20px;
  }
}
