:root {
  --primary-color: #09393D;
  --almost-white: #F1F1F1;
  --light-gray: #DADCDD;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('./assets/fonts/SpaceGrotesk-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('./assets/fonts/SpaceGrotesk-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

h1 {
  font-size: 6rem;
  line-height: 5.4rem;
  margin: 0;
  width: 100%;
  letter-spacing: -0.3rem;
}

h2 {
  font-size: 2rem;
  margin: 0;
}

h4 {
  font-size: 1rem;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  transition-duration: 300ms;
}

a:hover {
  border-bottom: solid 2px;
  transition-property: border-bottom;
  transition-duration: 300ms;
}

html, body {
  margin: 0;
  font-family: 'Space Grotesk';
  font-weight: normal;
  color: var(--primary-color);
  max-width: 100vw;
  letter-spacing: -0.05rem;
}

ul {
  list-style: none;
  padding: 0px;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.navbar {
  height: 80px;
  display: flex;
  align-items: center;
  gap: 35px;
  justify-content: space-between;
  background-color: var(--almost-white);
  position: relative;
  padding: 0 20px;
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.hero-section {
  height: 100vh;
  width: calc(100% - 40px); /* body width - left and right margin */
  padding: 20px 20px 0 20px;
  position:sticky;
  position:-webkit-sticky;
  top: 0;
  z-index: -2;
  background-color: var(--almost-white);  
  margin-bottom: -100px;
}

.hero-img {
  background: url(./assets/photos/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100% - 20px - 80px ); /* hero height - top padding - navbar height */
}

.feature-section {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 20px;
  background-color: var(--almost-white);
}

.services {
  max-width: 100%;
  padding: 40px 0;
  gap: 20px;
  display: flex;
  align-items: center;
}

.content-section {
  background-color: var(--almost-white);
  padding: 40px 0;
}

.content-grid {
  display: grid;
  gap: 20px;
}

.full-row {
  grid-column: span 2; /* spans both columns */
  width: 100%;
}

.two-column {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.two-column img {
  width: 100%;
  height:900px;
  object-fit: cover;
}

.content img {
  width: 100%;
  object-fit: cover;
}






