:root {
  --primary-color: #092b33;
  --almost-white: #f1f1f1;
  --light-gray: #dadcdd;
}

html,
body {
  margin: 0;
  font-family: "Space Grotesk";
  font-weight: normal;
  color: var(--primary-color);
  max-width: 100vw;
  letter-spacing: -0.05rem;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("./assets/fonts/SpaceGrotesk-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("./assets/fonts/SpaceGrotesk-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

h1 {
  font-size: 6rem;
  line-height: 5.4rem;
  margin: 0;
  width: 100%;
  letter-spacing: -0.3rem;
}

h2 {
  font-size: 5rem;
  line-height: 4.2rem;
  letter-spacing: -0.3rem;
  margin: 0;
  margin-top: -0.5rem;
}

h3 {
  font-size: 2rem;
  margin: 0;
}

h4 {
  font-size: 1rem;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.image-link:hover {
  /* overrides a:hover style */
  border-bottom: none;
}

ul {
  list-style: none;
  padding: 0px;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.services {
  max-width: 100%;
  padding: 40px 0;
  gap: 20px;
  display: flex;
  align-items: center;
  scroll-snap-align: end;
}

.header-section {
  padding: 100px 20px;
  background-color: var(--almost-white);
}

.header-section > .container {
  display: flex;
  justify-content: space-between;
}

.title {
  text-align: left;
  width: auto;
}

.title > p {
  text-transform: uppercase;
}

.description {
  width: 40%;
  justify-content: baseline;
  white-space: pre-line;
}

.content-section {
  background-color: var(--almost-white);
  padding: 40px 0;
}

.content-grid {
  display: grid;
  gap: 20px;
}

.full-row {
  grid-column: span 2; /* spans both columns */
  width: 100%;
}

.full-row img {
  width: 100%;
}

.two-column {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.two-column img {
  width: 100%;
  height: 900px;
  object-fit: cover;
}

.isolate {
  grid-column: span 2; /* spans both columns */
  width: 100%;
  padding: 200px 0;
  text-align: center;
}

.isolate img {
  width: 60%;
}

.content img {
  object-fit: cover;
}

.homepage-content {
  position: relative;
  transition-duration: 500ms;
}

.homepage-content .caption {
  text-align: right;
  position: absolute;
  bottom: 5px;
  color: var(--almost-white);
  font-size: 0.8rem;
  height: 60px;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  width: 100%;
  display: flex;
  align-items: center;
}

.caption p {
  margin-right: 20px;
  margin-left: auto;
}
.homepage-content:hover {
  opacity: 80%;
  transition-duration: 500ms;
}
